@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

.main {
  background: #01021b;
  width: 100%;
  height: 100vh;
}

.inner__component {
  width: 97%;
  height: 97.7%;
  display: flex;
  margin: auto;
  background: rgba(217, 217, 217, 0.1);
  box-shadow: inset 74.5667px -74.5667px 74.5667px rgba(165, 165, 165, 0.1),
    inset -74.5667px 74.5667px 74.5667px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(74.5667px);
  backdrop-filter: blur(74.5667px);
  position: relative;
  border-top-left-radius: 16px;
  top: 1rem;
  border-top-right-radius: 16px;
  flex-direction: column;
}

.inner__component::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  /* height: 200px;
  background: linear-gradient(to bottom, rgba(217, 217, 217, 0) 0%, #01021ba3, #01021b); */
  height: 285px;
  background: linear-gradient(to bottom, rgba(217, 217, 217, 0) 0%, #01021b47, #01021b);
  /* background: linear-gradient(171deg, rgba(1, 2, 27, 0.00) -16.22%, #01021B 36.04%); */
  /* filter: blur(52.5px); */
}

.navbar {
  position: relative;
  z-index: 2;
  display: flex;
  width: 90%;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  margin: 0 auto;
}

.normal {
  font-family: "Brockmann", sans-serif;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
}

.all__stylish {
    height: 100%;
    width: 21%;
    display: flex;
    justify-content: center;
}

.stylish {
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #01021b;
  cursor: pointer;
  margin-top: -0.5rem;
}

.stylish_text {
  font-family: "Bruno Ace", sans-serif;
  font-size: 32px;
  color: #fff;
}

.triangle_right {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-top: 100px solid #01021b;
  position: relative;
  left: -0.5rem;
  top: -1.15rem;
}

.triangle_left {
  width: 0;
  height: 0;
  border-right: 100px solid transparent;
  border-top: 100px solid #01021b;
  position: relative;
  left: 0.45rem;
  top: -1.11rem
}

.main__content {
  display: flex;
  height: 90%;
  justify-content: space-between;
}

.grad {
  font-family: "Brockmann";
  font-size: 75px;
  color: linear-gradient(90deg, #f77676 50.08%, #3135f7 78.13%);
}

.upper__text {
  font-family: "Brockmann";
  color: white;
  font-size: 65px;
}

.upper__text .gradient {
  font-family: "Brockmann";
  background: linear-gradient(90deg, #f77676 50.08%, #3135f7 78.13%);
  font-size: 65px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 0.4rem;
}

.lower__text {
  font-family: "Gilmer Light";
  font-size: 20px;
  color: #fff;
}

.main__image__bg {
  /* width: 50%;
  background: linear-gradient(260deg, rgba(49, 53, 247, 0.80) 4.47%, rgba(247, 118, 118, 0.80) 87.44%);
  mix-blend-mode: multiply;
  filter: blur(175px); */
  width: 40%;
  background: linear-gradient(260deg, rgba(49, 53, 247, 0.80) 4.47%, rgba(247, 118, 118, 0.80) 87.44%);
  mix-blend-mode: multiply;
  filter: blur(175px);
  height: 48vh;
  position: absolute;
  right: 0rem;
  top: 13rem;
}

.main__image{
  position: relative;
  top: 2rem;
  width: 40.2vw;
  height: 85.2vh;
  object-fit: cover;
}

.main__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 6rem;
  margin-top: 7rem;
  height: 56vh;
  width: 40%;
}

.explore__now {
  color: #fff;
  font-size: 21px;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  border: 2px solid transparent;
  border-radius: 6rem;
  background-image: linear-gradient(rgba(23,24,46,255), rgba(23,24,46,255)),    linear-gradient(90deg, #f77676 0%, #3135f7 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  width: 31%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  cursor: pointer;
  z-index: 3;
}
